<section id="section-about" class="clearfix about page-section">

    <div class="welcome-slab container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="welcome-slab__title">Welcome to<br>Modern Dentistry</h2>
                <h5 class="welcome-slab__copy">We use the latest dental technology to provide you and your family
                    exceptional care. We are now welcoming new patients!</h5>
            </div>
            <div class="col-sm-6">
                <p>
                    <style type="text/css">.embed-container { position: relative; padding-bottom: 61%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
                    </style>
                <div class="embed-container"><iframe allowtransparency="true" class="wistia_embed" frameborder="0" name="wistia_embed" scrolling="no" src="https://fast.wistia.net/embed/iframe/02dprbbd17?controlsVisibleOnLoad=true&amp;playerColor=333333&amp;plugin%5Bsocialbar-v1%5D%5BbadgeImage%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F3574f7f1910ee97739ad806a18fc577d0475301f.jpg%3Fimage_resize%3D100&amp;plugin%5Bsocialbar-v1%5D%5BbadgeUrl%5D=http%3A%2F%2Fdatasphere.com%3Futm_source%3Dembedvideo%3Futm_source%3Dembedvideo&amp;plugin%5Bsocialbar-v1%5D%5Bbuttons%5D=facebook-twitter&amp;plugin%5Bsocialbar-v1%5D%5Blogo%5D=true&amp;plugin%5Bsocialbar-v1%5D%5BpageUrl%5D=https%3A%2F%2Fmy.datasphere.com%2Fnode%2F7352504%3Futm_source%3Dembedvideo&amp;version=v1&amp;videoHeight=360&amp;videoWidth=640&amp;volumeControl=true"></iframe></div>
                </p>
            </div>
        </div>
    </div>

    <div id="section-about--target" class="about--main-bg">

        <div class="heading container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2 center">
                    <h2 class="heading__title">Meet The Team</h2>
                    <h5 class="heading__byline">Our goal is to provide you and your family the finest dental care
                        available anywhere.</h5>
                </div>
            </div>
        </div>

        <div class="doctor container doctor--break">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4 hidden-xs">
                    <img class="doctor__image" src="/assets/team/jeromy.jpg" alt="Dr. Jeromy Peterson, DDS">
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    <h2 class="doctor__name">Jeromy A Peterson, <span class="doctor__name--sub">DDS</span></h2>
                    <h3 class="doctor__title">General Dentist</h3>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <img class="doctor__image" src="/assets/team/jeromy.jpg" alt="Dr. Jeromy Peterson, DDS">
                    </div>
                    <h5 class="doctor__copy">Dr. Peterson and his team take the time to listen to you and provide you with
                        the best care possible. Right when you meet Dr. Peterson, you’ll know he is there to serve your
                        needs and get you the smile you’ve always dreamed of.</h5>
                    <h5 class="doctor__copy">Dr. Peterson earned his dental degree at the University of Washington School of Dentistry. He is a graduate of the Kois Center® training program and is proud to be a mentor of this prestigious training center which focuses on treatment planning, cosmetic treatment, dental reconstruction, implant restorations, periodontal care, and denture services.</h5>
                    <a href="#" data-toggle="modal" data-target="#team--jeromy" class="doctor__link">READ MORE</a>
                </div>
            </div>
        </div>

        <div class="doctor container">
            <div class="row doctor--mobile-swap">
                <div class="col-sm-6 col-md-7 col-lg-8">
                    <h2 class="doctor__name">R. Scott Puhn, <span class="doctor__name--sub">DDS, PS</span></h2>
                    <h3 class="doctor__title">General Dentist</h3>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <img class="doctor__image" src="/assets/team/scott.jpg" alt="R. Scott Puhn, DDS, PS">
                    </div>
                    <h5 class="doctor__copy">Dr. Puhn loves to see his patients smile! He is a graduate of the
                        University of Washington School of Dentistry and keeps up to date on the latest technologies in
                        dentistry with the newest techniques in order to provide you and your family with bright,
                        beautiful, healthy smiles.</h5>
                    <h5 class="doctor__copy">He’s been serving the Poulsbo area for over twenty-five years as a dentist,
                        and has and easy going manner, and the experience to help you get the smile you deserve. Come
                        visit us today and discover the <strong>Modern Dentistry difference!</strong></h5>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 hidden-xs">
                    <img class="doctor__image" src="/assets/team/scott.jpg" alt="R. Scott Puhn, DDS, PS">
                </div>
            </div>
        </div>
    </div>

    {% include 'molecules/team__carousel.twig' %}

</section>

