<section id="section-forms" class="forms">
   <div class="container">
       <div class="row">
           <div class="center col-sm-6 col-sm-push-3">
               <h2 class="forms__title">Patient Forms</h2>
               <h5 class="forms__copy">Click the button below before your scheduled appointment to save time during your
                   visit</h5>
               <a href="https://mychart.evidentiae.com/patient/#/auth?realm=peterson" class="btn btn--style-three forms__btn" target="_blank">Patient Forms Login</a>
           </div>
       </div>
   </div>
</section>
