<section id="section-insurance">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="insurance__title">Concerned about&nbsp;Cost?</h2>
                <h5 class="insurance__byline">No Insurance? No Problem!</h5>
                <p class="insurance__copy">We off an in-house dental savings plan for both new and existing patients. We
                    understand that traditional dental insurance premiums are expensive, and that insurance benefits are
                    extremely limited on most plans. The good news is that as a member of Quality Dental Plan, all of
                    your preventive care (including cleanings, x-rays, and exams) is 100% covered in our office and
                    you’ll also receive valuable member benefits on restorative care like fillings, crowns, implants,
                    and even cosmetic dentistry.</p>
                <p class="insurance__copy">Ask us today about Quality Dental Plan and how it can make dentistry
                    affordable for you and your family!</p>
            </div>
            <div class="col-sm-6">
                <iframe src="https://player.vimeo.com/video/137290534?title=0&byline=0&portrait=0" width="640" height="360" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

