<section id="section-location" class="content-section location">

    <div class="floating-card">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-5 col-sm-push-2 col-md-push-6 col-lg-push-7 floating-card--col-fix">
                    {% include 'molecules/location-card__simple.twig' %}
                </div>
            </div>
        </div>
    </div>

    <a href="{{ googleMap }}" target="_blank"><div id="google-map5" class="gmap"></div></a>

</section>