<!-- Marquee Slider
============================================= -->
<div id="mobile-background" class="hidden-md hidden-lg">
    <a href="#" data-scrollto="#section-specials" data-offset="0">
        <img src="assets/mobile-slide.jpg" style="width:100%;height:auto;" alt="A lifetime focus on beautiful Healthy Smiles for Poulsbo area families">
    </a>
</div>

<!-- Slider
============================================= -->
<section id="slider" class="hidden-xxs hidden-xs hidden-sm slider-parallax swiper_wrapper clearfix" data-autoplay="8000">
    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide1" style="background: url('assets/slides/slide1.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left center">
                        <h3 class="slide__byline">A lifetime focus on beautiful</h3>
                        <h1 class="slide__title">Healthy Smiles</h1>
                        <h3 class="slide__byline">for Poulsbo area families</h3>
                        <h4 class="slide__copy">Now Welcoming New Patients</h4>
                        <a href="#" class="btn btn--style-two" data-scrollto="#section-specials" data-offset="80">New Patient Offers</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide2" style="background: url('assets/slides/slide2.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left center">
                        <h3 class="slide__byline">See why patients</h3>
                        <h1 class="slide__title">Trust US</h1>
                        <h3 class="slide__byline">with their family's health</h3>
                        <img src="assets/slides/slide-stars.png" alt="Five Stars" class="slide__stars">
                        <p class="slide__copy">“I have nothing but great things to say about Modern Dentist! They’re
                            great with not only me, but with my kids as well. The team is incredibly knowledgeable plus
                            has all newest technology to really give you top of the line dental care.” –Melissa W.</p>
                        <a href="#" class="btn btn--style-two" data-scrollto="#section-reviews" data-offset="80">Read Our Reviews</a>
                    </div>
                </div>
            </div>

            <!-- Slide
            ============================================= -->
            <div class="swiper-slide slide3" style="background: url('assets/slides/slide3.jpg') 50% 50% no-repeat; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-left center">
                        <h3 class="slide__byline">Creating beautiful</h3>
                        <h1 class="slide__title">Smiles</h1>
                        <h3 class="slide__byline">to last a lifetime</h3>
                        <p class="slide__copy">Discover how you can have the <br>smile you’ve always wanted</p>
                        <a href="#" class="btn btn--style-two" data-scrollto="#section-services" data-offset="80">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'atoms/down-arrow.twig' %}
