<section id="section-gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="gallery__title">Smile Gallery</h2>
                <p class="gallery__copy">View a gallery of amazing smile transformations. Whether you need a full-mouth restoration or a quick smile-whitening, we can help you to achieve the smile you’ve always dreamed of having.</p>
                <a href="#" id="smile-gallery-remote" class="btn btn--style-three">View Gallery</a>
            </div>
            <div class="col-sm-6">
                <div data-lightbox="gallery">
                    <a href="/assets/gallery/1.jpg" data-lightbox="gallery-item" id="smile-gallery-modal"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/2.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/3.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/4.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/5.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/6.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/7.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/8.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                    <a href="/assets/gallery/9.jpg" data-lightbox="gallery-item"><img src="/assets/gallery/1.jpg" alt="Before and after image that shows a greatly improved smile"></a>
                </div>
            </div>
        </div>
    </div>
</section>
