<section id="section-tour" class="tour">

    <div class="heading center">
        <h2 class="heading__title">Office Tour</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
                    <h5 class="heading__byline">We want you to feel comfortable at our office. Come visit us today and
                        experience the Modern Dentistry difference!</h5>
                </div>
            </div>
        </div>
    </div>

    {#<div class="full-width-wrapper">#}
    {#<div class="container tour--full-width">#}
    <div class="container">
        <div class="row">
            {% include 'molecules/tour__carousel.twig' %}
        </div>
    </div>
    {#</div>#}
    {#</div>#}

</section>