<div class="team-carousel">
    <div class="container center">
        <h5 class="team-carousel__copy">Select a team member below to read more.</h5>
        <div class="owl-carousel js-team-carousel">
            {% include 'molecules/team__cards.twig' %}
        </div>
    </div>
</div>
{% include 'molecules/team__modals.twig' %}