<div class="owl-carousel js-tour-carousel">
    <div>
        <img src="/assets/tour/tour1.jpg" alt="Very comfortable waiting room">
    </div>
    <div>
        <img src="/assets/tour/tour2.jpg" alt="Very clean reception room">
    </div>
</div>