#section-about {
  .owl-carousel .owl-nav [class*=owl-],
  .owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
  }

  .js-team-carousel {
    $nav-offset: -25px;

    & .owl-nav [class*=owl-],
    &:hover .owl-nav .owl-next {
      right: $nav-offset;
      opacity: 1;
    }

    & .owl-nav .owl-prev,
    &:hover .owl-nav .owl-prev {
      left: $nav-offset;
    }
  }

  .about--main-bg {
    padding-top: 30px;
    padding-bottom: 45px;
    background-image: url(/assets/bkgd-pattern-light.png);
    background-repeat: repeat;
  }

  .heading {
    padding-top: 45px;
    padding-top: 30px;

    &__title {
      color: #282e3d;
      margin-bottom: 10px;
      line-height: 1;
    }

    &__byline {
      color: #284691;
      font-family: $ff-tav;
      font-style: italic;
      line-height: 1.25;
    }
  }

  .doctor {
    padding-top: 15px;
    padding-bottom: 15px;

    &__name {
      color: #284691;
      line-height: 1;
      margin-bottom: 0;
      font-weight: 700;

      @include font-size(24px, 24px, 24px, 22px, 22px);

      &--sub {
        font-weight: 400;
        color: #284691;
        font-size: 20px;
      }
    }

    &__image {
      padding-bottom: 15px;
    }

    &__title {
      color: #282e3d;
      font-style: italic;
      font-family: $ff-tav;
      font-size: 19px;
      margin-bottom: 15px;
    }

    &__copy {
      font-size: 16px;
      color: #282e3d;
      line-height: 1.2;
      margin-bottom: 10px;

      strong {
        color: #284691;
      }
    }

    &__link {
      padding-top: 5px;
      text-decoration: underline !important;
      color: #282e3d;
      font-size: 14px;
      margin-bottom: 0;
    }

    &--break {
      padding-bottom: 30px;
      border-bottom: solid 1px #889;
      margin-bottom: 15px;
    }

    @media (max-width: 767px) {
      &--mobile-swap {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .horizontal-break {
    border-top: solid 1px #889;
    margin: 10px 0;
  }

  .welcome-slab {
    padding: 30px 0;

    &__title {
      color: #282e3d;
      line-height: 0.9;
    }

    &__copy {
      font-family: $ff-tav;
      font-style: italic;
      color: #284691;
      line-height: 1.3;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) {
      padding: 45px 0;

      &__copy {
        margin-bottom: 0;
      }

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
