#section-forms {
  padding: 45px 0 60px;
  background-image: url(/assets/bkgd-pattern-light.png);
  background-repeat: repeat;

  .forms__title {
    margin-bottom: 15px;
    line-height: 1;
    color: #282e3d;
  }

  .forms__copy {
    line-height: 1.2;
    color: #284691;
    font-family: $ff-tav;
    font-style: italic;
  }
}
