#section-insurance {
  background-color: #282e3d;
  padding: 45px 0;
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .insurance {
    &__title {
      color: #fff;
      line-height: 1;
      margin-bottom: 10px;
    }

    &__byline {
      color: #22b8ff;
      font-family: $ff-tav;
      font-style: italic;
    }

    &__copy {
      margin-bottom: 10px;
      color: #fff;
      line-height: 1.2;
    }
  }
}
