#section-specials {
  background: url('/assets/offers_bkgd-lg.jpg');
  background-size: cover;
  padding: 30px 0 60px;
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: 991px) {
    background: #fff;
    padding-bottom: 0;
  }

  .heading {
    text-align: center;
    padding: 30px 0;

    .title {
      color: #282e3d;
      margin-bottom: 15px;
      line-height: 1;
    }

    .sub-title {
      color: #df4e33;
      line-height: 1;
      font-size: 24px;
      font-weight: 700;
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .sub-title-two {
      color: #284691;
      font-family: $ff-tav;
      font-style: italic;
      line-height: 1;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }

  .offer-card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: $width-md) {
      flex-direction: column;
    }

    &__price-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 145px;
      width: 175px;
      border-radius: 0;

      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }

    &__price {
      color: #fff;
      font-family: $ff-lato;
      font-weight: 900;
      font-size: 72px;
      margin-bottom: 0;
      line-height: 1;
      margin-left: 20px;
    }

    &__price::before {
      color: #fff;
      content: '$';
      font-weight: 700;
      position: absolute;
      left: 30px;
      top: 30px;
      font-size: 35px;
    }

    &__price-sub {
      color: #fff;
      margin-bottom: 0;
      line-height: 1;
      font-size: 20px;
      font-family: $ff-tav;
      font-style: italic;
    }

    &__text-wrapper {
      flex-shrink: 99999;
      padding-left: 15px;

      @media (max-width: $width-md) {
        padding-left: 0;
        max-width: 482px;
      }
    }

    &__title {
      line-height: 1;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 700;
      font-family: $ff-raleway;
    }

    &__copy {
      color: #282e3d;
      line-height: 1.2;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &__codes {
      color: #282e3d;
      margin-bottom: 40px;
      text-align: right;
      font-size: 18px;
    }

    &__free {
      color: #fff;
      font-size: 40px;
      margin-bottom: 0;
    }

    //Coloring for offer cards
    $card-one: #1a8f72;
    $card-two: #284691;
    $card-three: #df4e33;

    &:nth-child(1) {
      .offer-card__price-wrapper {
        background-color: $card-one;
      }

      .offer-card__title {
        color: $card-one;
      }
    }

    &:nth-child(2) {
      .offer-card__price-wrapper {
        background-color: $card-two;
      }

      .offer-card__title {
        color: $card-two;
      }
    }

    &:nth-child(3) {
      .offer-card__price-wrapper {
        background-color: $card-three;
      }

      .offer-card__title {
        color: $card-three;
      }
    }
  }
}
