//=============================
//    Dependencies
//=============================
@import "bootstrap";
@import "elastic";
@import "camera";
@import "calendar";
@import "colors";
@import "font-icons-snapchat";
@import "nivo-slider";
@import "vmap";
@import "animate";
@import "dark";
@import "font-icons";
@import "swiper";
@import "canvas";
@import "magnific-popup";
@import "responsive";
//=============================
//      Custom Styles
//=============================
@import "globals/*";
@import "atoms/*";
@import "molecules/*";
@import "organisms/*";

//================================
//  Shame Styles/ Canvas Fixes
//================================

.link-no-style:hover {
  text-decoration: none !important;
}

.bf-pro:hover {
  text-decoration: underline !important;
}

.mobile-break {
  @media screen and (min-width: 480px) {
    display: none;
  }
}

a[data-target^="#team-"]:hover {
  text-decoration: none;
}

//Fixes lightbox width on mobile devices
.mfp-wrap {
  width: 100vw;
}
